html{
  height: 100%;
}
body{
  direction: rtl;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #1d1d1d;
  line-height: 150%;
}

#navbar{
  width: 100%;
  height: 61px;
  position: fixed;
  background: #0087cb3b;
}

.navbar{
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.navbar>ul{
  list-style-type: none;
}

.navbar>ul>li{
  margin: 0 0 0 30px;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  float: right;
}