footer{
  width: 100%;
  background: rgb(234, 234, 234);
}

.footer{
  padding: 36px 0;
  margin: 0 auto;
}

.footer-logo{
  line-height: 1;
  font-size: 16px;    
}

.footer-logo span{
  color: #0087cb;
}

.footer-logo>img{
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.footer-download-button{
  color: white;
  width: 172px;
  height: 36px;
  margin: 20px 0 0 16px;
  border-radius: 15px;
  padding: 5px;
  background-color: #1d1d1d;
}

.footer-download-button>img{
  width: 20px;
  height: 20px;
  margin: auto 5px auto 0;
}

.footer-download-button>p{
  font-size: 14px;
  margin: auto 10px;
}

.footer-enamad>img{
  height: 50px;
  width: auto;
  margin: 20px 0 20px 20px;
}

.footer-row2>div>div{
  border-left: 2px solid #d1d1d1;
  width: auto;
}

.footer-row2>div>div:last-of-type{
  border-left: none;
  width: auto;
}

.sub-footer>div>img{
  width: 24px;
  height: 24px;
  margin-right: 28px;
}