.magazine{
  width: 100%;
}

.magazine-row1{
  width: 80%;
  margin: 0 auto;
}

.magazine-button{
  color: #0087cb;
  padding: 8px 24px;
  font-size: 16px;
  margin: 0 0 0 24px;
  border: solid 1px #0087cb;
  border-radius: 15px;
  height: 40px;
}

.magazine-button-container{
  position: relative;
}

.magazine-arrow-button{
  width: 40px;
  height: 40px;
  padding: 10px 14px;
  background: #0087cb;
  border-radius: 15px;
}

.magazine-arrow-button-container{
  position: absolute;
  left: 0;
}

.card-container{
  width: 150%;
}

.card{
  margin-top: 20px;
  margin-left: 60px;
  width: 346px;
  border-radius: 15px !important;
}

.card>img{
  border-radius: 15px 15px 0 0;
}

.card:first-of-type{
  margin-right: -10%;
  opacity: 40%;
}

.card:last-of-type{
  opacity: 40%;
}

.card-text{
  font-size: 14px;
}

.cardfooter{
  color: #9b9b9b;
  margin: 10px 0 0 0;
  font-size: 12px;
}