/****** main ******/

main{
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 197px 0 64px;
  background: #f7f8f9;
}

.main{
  margin: 0 auto;
}

/****** button ******/

.btn-blue{
  height: 48px;
  padding: 0 30px;
  font-size: 14px;
  border-radius: 15px;
  border: solid 1px #0087cb;
  background-color: #0087cb;
  color: white;
}

/****** banner ******/

.banner{
  width: 100%;
  margin: 0 auto;
  margin-right: 0 !important;
}

.banner-title{
  font-weight: bolder;
  margin: 48px 0;
}

.banner-img-container{
  padding: 0 !important;
}

.btn-banner{
  width: 210px;
  height: auto;
  padding: 10px 0;
  margin: 50px 0 0 0;
  border-radius: 15px;
}

/****** row1 ******/

.row1{
  padding: 20px 10px;
  margin: 40px 0 5px;
  width: 100%;
}

.row1-section{
  width: 22%;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(0, 135, 203, .1);
}

.row1-img{
  width: 30px;
  height: 40px;
  padding: 0;
  margin: 0 auto;
}

.triangle{
  width: 40px !important;
  height: 15px;
  background: white;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  box-shadow: 0 10px 10px 0 #71717133;
  position: absolute;
  right: 15%;
}

.row1-active{
  width: 22%;
}

.row1-section-active{
  width: 100%;
  height: 100%;
  background: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 #71717133;
  position: relative;
}

/****** row2 ******/

.row2{
  width: 100%;
  background-color: white;
  box-shadow: 0 10px 20px 0 rgba(148, 145, 145, 0.15);
  border-radius: 15px;
  padding: 24px;
  margin: 0 0 40px 0 !important;
}

.row2-button{
  width: 100%;
  height: 37px;
  margin: 8px auto;
  padding: 6px;
  border-radius: 10px;
  background-color: #eaeaea;
  align-items: center;
}

.row2-button-active{
  background: rgba(0, 135, 203, 0.2) !important;
}

/****** row3 ******/

.row3{
  width: 100%;
  background-color: white;
  box-shadow: 0 10px 20px 0 rgba(148, 145, 145, 0.15);
  border-radius: 15px;
  padding: 24px 24px 16px;
}

.row3-input{
  width: 50%;
  margin: 20px auto 40px auto;
}

.loan-counter-title{
  margin: 20px auto 5px;
  color: #0087cb;
}

.loan-counter-amount{
  width: 428px;
  margin: 0 auto;
  padding: 14px 0;
  border-radius: 15px;
  border: solid 2px #d1d1d1;
}

.row3-input>input[type='range']{
  appearance: none;
  overflow: hidden;
  width: 100%;
  height: 10px;
  direction: ltr;
  margin: 10px auto;
  background: #d1d1d1;
  border-radius: 15px;
}

/****** Input style for chrome ******/

.row3-input>input[type=range]::-webkit-slider-thumb{
  appearance: none;
  width: 32px;
  height: 10px;
  border: 2px solid #2d3078;
  border-radius: 15px;
  background: white;
  cursor: pointer;
  box-shadow: -610px 0 0 600px #2d3078;
}

/****** Input style for firefox ******/

.row3-input>input[type=range]::-moz-range-thumb{
  appearance: none;
  width: 32px;
  height: 10px;
  border: 2px solid #2d3078;
  border-radius: 15px;
  background: white;
  cursor: pointer;
}

.row3-input>input[type=range]::-moz-range-progress{
  background: #2d3078;
  height: 10px;
}

/****** style for smaller screens ******/

@media(max-width: 992px){
  .row1{
    width: 250%;
    justify-content: space-between;
  }

  .row3-input{
    width: 100%;
  }
}