/****** main ******/

main{
  flex: 1 1 auto;
  overflow-y: auto;
  width: 100%;
  margin: 197px 0;
}

.main{
  width: 80%;
  margin: 0 auto;
}

/****** banner ******/

.banner{
  width: 100%;
  margin: 0 auto;
}

.banner-img-container{
  width: 70%;
}

.btn-banner{
  width: 210px;
  height: 57px;
  margin: 30% 0 0 0;
  padding: 16px 68px;
  border-radius: 15px;
  border: solid 2px #0087cb;
  background-color: #0087cb;
  color: white;
  white-space: nowrap;
}