header{
  position: fixed;
  width: 100%;
  z-index: 200;
}
/****** topbar1 ******/

#topbar1{
  height: 61px;
  background: #dbe2e7;
  z-index: 200;
}

.topbar1{
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.topbar1>ul{
  padding-right: 0;
}

/****** topbar2 ******/

#topbar2{
  height: 96px;
  box-shadow: 0 5px 10px 0 #71717133;
  z-index: 200;
  background: #f7f8f9;
}

.topbar2{
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .navbar-collapse {
    background: #f7f8f9;
    box-shadow: 0 5px 10px 0 #71717133;
    border-radius: 15px;
    margin-top: 40px;
  }
}

#topbar2-logo{
  width: 36px;
  height: 36px;
}

.topbar2-icons{
  font-size: 25px;
}

.topbar2>ul>li{
  margin-left: 15px;
}